@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        My retail web application for Summer seashells not by the shore would allow users to navigate an online boutique environment. Giving users the ability to browse, shop items while also being able to customize certain options and be given a visual preview. Shopping available for both pick up and traditional shipping with all order placements being made through the same application.
        Specializing in upcycled, unique, customizable and one of kind goods made from previously thought of as unrecyclable items, Summer seashells not by the shore invites guest into an environment as bright and unique as the goods it provides. Customize any item with an engraving or painting changes and additions. No two items exactly the same as every piece is hand-made. Also available, personal upcycled items, send us your old clothes to be made into a quilt!
        </a>.
    </p>
</div>
